.vertical{
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 50px;
  width: 50px;
}

.horizontal{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;
  width: 50px;
}

table{
  margin: auto 100px;
  float: left;
}

h1{
  text-align: center;
  font-family: "Raleway";
}

.repo td{
  border: 1px solid black
}

/* cross and circles*/
#line_1 {
  background: #000;
  position: relative;
  transform: rotate(45deg);
  width: 4px;
  height: 30px;
  border-radius: 10px;
}

#line_2 {
  background: #000;
  position: relative;
  transform: rotate(-45deg);
  width: 4px;
  height: 30px;
  margin-top: -30px;
  border-radius: 10px;
}

.toe {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: auto;
  background-color: #f00;
}

.cross {
  margin-left: 25px;
}
